{% extends 'data_entry/panel_base.html' %}

{% block panel_heading %}Atrial Fibrillation{% endblock %}

{% block fa_icon %}fa fa-heartbeat{% endblock %}

{% block panel_body %}
    <div class="form-horizontal form-bordered">
        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 f-s-14" for="af_type">Type<br/><span></span></label>
            <div class="col-md-6 col-sm-6">
                <select id="af_type" name="af_type" class="form-control f-s-14 nullable-select2">
                    <option value="">None</option>
                    {% for choice in choices.AF_TYPE_CHOICES %}
                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>



        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 f-s-14" for="prev_anti_coagulation">Previous anti-coagulation</label>
            <div class="col-md-6 col-sm-6">
                <select id="prev_anti_coagulation" name="prev_anti_coagulation" class="form-control f-s-14 nullable-select2">
                    <option value="">None</option>
                    {% for choice in choices.ANTI_COAGULATION_CHOICES %}
                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>



        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 f-s-14" for="warfarin_intolerance">Warfarin intolerance</label>
            <div class="col-md-6 col-sm-6">
                <input id="warfarin_intolerance" type="checkbox" name="warfarin_intolerance" class="bootstrap-switch" data-on-text="Yes" data-off-text="No" data-size="normal" data-handle-width="50" data-label-width="10" />
            </div>
        </div>



        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 f-s-14" for="inr_instability">INR instability</label>
            <div class="col-md-6 col-sm-6">
                <input id="inr_instability" type="checkbox" name="inr_instability" class="bootstrap-switch" data-on-text="Yes" data-off-text="No" data-size="normal" data-handle-width="50" data-label-width="10" />
            </div>
        </div>



        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 f-s-14" for="noac_allergy_or_intolerance">NOAC allergy or intollerance</label>
            <div class="col-md-6 col-sm-6">
                <input id="noac_allergy_or_intolerance" type="checkbox" name="noac_allergy_or_intolerance" class="bootstrap-switch" data-on-text="Yes" data-off-text="No" data-size="normal" data-handle-width="50" data-label-width="10" />
            </div>
        </div>
    </div>
{% endblock %}
