{% extends 'data_entry/panel_base.html' %}

{% block panel_heading %}Blood Work{% endblock %}

{% block fa_icon %}fa fa-home{% endblock %}

{% block panel_body %}
    <div class="form-horizontal form-bordered">
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 f-s-14" for="hb">HB</label>
            <div class="col-md-4 col-sm-4">
                <div class="input-group">
                    <input id="hb" name="hb" type="number" step="any" class="form-control f-s-14" />
                    <span class="input-group-addon" style="padding:0px;width:40%;">
                        <select name="hb_um" style="padding:0px;background-color:transparent;border:none;height:100%;width:100%">
                            {% for choice in choices.HB_UM_CHOICES %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </span>
                </div>
            </div>

            <label class="control-label col-md-2 col-sm-2 f-s-14" for="plts">PLTS</label>
            <div class="col-md-4 col-sm-4">
                <div class="input-group">
                    <input id="plts" name="plts" type="number" step="any" class="form-control f-s-14" />
                    <span class="input-group-addon" style="padding:0px;width:40%;">
                        <select name="plts_um" style="padding:0px;background-color:transparent;border:none;height:100%;width:100%">
                            {% for choice in choices.PLTS_UM_CHOICES %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </span>
                </div>
            </div>
        </div>

        

        <div class="form-group">                
            <label class="control-label col-md-2 col-sm-2 f-s-14" for="inr">INR</label>
            <div class="col-md-4 col-sm-4">
                <div class="input-group">
                    <input id="inr" name="inr" type="number" step="any" class="form-control f-s-14" />
                    <span class="input-group-addon" style="padding:0px;width:40%;">
                        <select name="inr_um" style="padding:0px;background-color:transparent;border:none;height:100%;width:100%">
                            {% for choice in choices.INR_UM_CHOICES %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </span>
                </div>
            </div>

            <label class="control-label col-md-2 col-sm-2 f-s-14" for="creat">CREAT</label>
            <div class="col-md-4 col-sm-4">
                <div class="input-group">
                    <input id="creat" name="creat" type="number" step="any" class="form-control f-s-14" />
                    <span class="input-group-addon" style="padding:0px;width:40%;">
                        <select name="creat_um" style="padding:0px;background-color:transparent;border:none;height:100%;width:100%">
                            {% for choice in choices.CREAT_UM_CHOICES %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </span>
                </div>
            </div>
        </div>

        

        <div class="form-group">    
            <label class="control-label col-md-2 col-sm-2 f-s-14" for="egfr">EGFR</label>
            <div class="col-md-4 col-sm-4">
                <div class="input-group">
                    <input id="egfr" name="egfr" type="number" step="any" class="form-control f-s-14" />
                    <span class="input-group-addon" style="padding:0px;width:40%;">
                        <select name="egfr_um" style="padding:0px;background-color:transparent;border:none;height:100%;width:100%">
                            {% for choice in choices.EGFR_UM_CHOICES %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </span>
                </div>
            </div>

            <label class="control-label col-md-2 col-sm-2 f-s-14" for="ast">AST</label>
            <div class="col-md-4 col-sm-4">
                <div class="input-group">
                    <input id="ast" name="ast" type="number" step="any" class="form-control f-s-14" />
                    <span class="input-group-addon" style="padding:0px;width:40%;">
                        <select name="ast_um" style="padding:0px;background-color:transparent;border:none;height:100%;width:100%">
                            {% for choice in choices.AST_UM_CHOICES %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </span>
                </div>
            </div>
        </div>

        

        <div class="form-group">    
            <label class="control-label col-md-2 col-sm-2 f-s-14" for="alt">ALT</label>
            <div class="col-md-4 col-sm-4">
                <div class="input-group">
                    <input id="alt" name="alt" type="number" step="any" class="form-control f-s-14" />
                    <span class="input-group-addon" style="padding:0px;width:40%;">
                        <select name="alt_um" style="padding:0px;background-color:transparent;border:none;height:100%;width:100%">
                            {% for choice in choices.ALT_UM_CHOICES %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </span>
                </div>
            </div>

            <label class="control-label col-md-2 col-sm-2 f-s-14" for="alp">ALP</label>
            <div class="col-md-4 col-sm-4">
                <div class="input-group">
                    <input id="alp" name="alp" type="number" step="any" class="form-control f-s-14" />
                    <span class="input-group-addon" style="padding:0px;width:40%;">
                        <select name="alp_um" style="padding:0px;background-color:transparent;border:none;height:100%;width:100%">
                            {% for choice in choices.ALP_UM_CHOICES %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </span>
                </div>
            </div>
        </div>

        

        <div class="form-group">    
            <label class="control-label col-md-2 col-sm-2 f-s-14" for="bilirubin">BILIRUBIN</label>
            <div class="col-md-4 col-sm-4">
                <div class="input-group">
                    <input id="bilirubin" name="bilirubin" type="number" step="any" class="form-control f-s-14" />
                    <span class="input-group-addon" style="padding:0px;width:40%;">
                        <select name="bilirubin_um" style="padding:0px;background-color:transparent;border:none;height:100%;width:100%">
                            {% for choice in choices.BILIRUBIN_UM_CHOICES %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </span>
                </div>
            </div>

            <label class="control-label col-md-2 col-sm-2 f-s-14" for="troponin">TROPONIN</label>
            <div class="col-md-4 col-sm-4">
                <div class="input-group">
                    <input id="troponin" name="troponin" type="number" step="any" class="form-control f-s-14" />
                    <span class="input-group-addon" style="padding:0px;width:40%;">
                        <select name="troponin_um" style="padding:0px;background-color:transparent;border:none;height:100%;width:100%">
                            {% for choice in choices.TROPONIN_UM_CHOICES %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
