{% extends 'data_entry/panel_base.html' %}

{% block panel_heading %}PCI Risk{% endblock %}

{% block fa_icon %}fa fa-hospital-o{% endblock %}

{% block panel_body %}
    <style type="text/css">
        input[name^="pci_risk_"] {
            position: absolute;
        }
        label[for^="pci_risk_"] {
            margin-left:25px;
        }
    </style>
    <div class="form-horizontal form-bordered">
        <div class="form-group">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <input id="pci_risk_1" type="checkbox" name="pci_risk_1" style="cursor:pointer;"/>
                        <label for="pci_risk_1" style="cursor:pointer;" class="f-s-14">
                            Long Stented Segment &gt; 30mm
                        </label>
                    </div>

                    <div class="col-md-12">
                        <input id="pci_risk_2" type="checkbox" name="pci_risk_2" style="cursor:pointer;"/>
                        <label for="pci_risk_2" style="cursor:pointer;" class="f-s-14">
                            Small Vessel Diameter &le; 2.5mm
                        </label>
                    </div>

                    <div class="col-md-12">
                        <input id="pci_risk_3" type="checkbox" name="pci_risk_3" style="cursor:pointer;"/>
                        <label for="pci_risk_3" style="cursor:pointer;" class="f-s-14">
                            In-Stent Restenosis Intervention
                        </label>
                    </div>

                    <div class="col-md-12">
                        <input id="pci_risk_4" type="checkbox" name="pci_risk_4" style="cursor:pointer;"/>
                        <label for="pci_risk_4" style="cursor:pointer;" class="f-s-14">
                            Atherectomy
                        </label>
                    </div>

                    <div class="col-md-12">
                        <input id="pci_risk_5" type="checkbox" name="pci_risk_5" style="cursor:pointer;"/>
                        <label for="pci_risk_5" style="cursor:pointer;" class="f-s-14">
                            Bifurcation PCI
                        </label>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <input id="pci_risk_6" type="checkbox" name="pci_risk_6" style="cursor:pointer;"/>
                        <label for="pci_risk_6" style="cursor:pointer;" class="f-s-14">
                            Left main PCI
                        </label>
                    </div>

                    <div class="col-md-12">
                        <input id="pci_risk_7" type="checkbox" name="pci_risk_7" style="cursor:pointer;"/>
                        <label for="pci_risk_7" style="cursor:pointer;" class="f-s-14">
                            Chronic Total Occlusion PCI
                        </label>
                    </div>

                    <div class="col-md-12">
                        <input id="pci_risk_8" type="checkbox" name="pci_risk_8" style="cursor:pointer;"/>
                        <label for="pci_risk_8" style="cursor:pointer;" class="f-s-14">
                            In the Opinion of the Interventional Cardiologist
                        </label>
                    </div>


                    <div class="col-md-12">
                        <input id="pci_risk_9" type="checkbox" name="pci_risk_9" style="cursor:pointer;"/>
                        <label for="pci_risk_9" style="cursor:pointer;" class="f-s-14">
                            Graft Intervention
                        </label>
                    </div>


                </div>
            </div>
        </div>
    </div>
{% endblock %}
