{% extends 'data_entry/panel_base.html' %}

{% block panel_heading %}Medical History{% endblock %}

{% block fa_icon %}fa fa-file-text-o{% endblock %}

{% block panel_body %}
    <div class="form-horizontal form-bordered">
        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 f-s-14" for="htn">HTN *<br/><span></span></label>
            <div class="col-md-6 col-sm-6">
                <select id="htn" name="htn" class="form-control f-s-14 default-select2">
                    {% for choice in choices.HTN_CHOICES %}
                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 f-s-14" for="vascular_disease">Vascular disease</label>
            <div class="col-md-6 col-sm-6">
                <select id="vascular_disease" name="vascular_disease" class="form-control f-s-14 default-select2">
                    {% for choice in choices.VASCULAR_DISEASE_CHOICES %}
                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 f-s-14" for="hx_of_bleeding">Hx of bleeding</label>
            <div class="col-md-6 col-sm-6">
                <select id="hx_of_bleeding" name="hx_of_bleeding" class="form-control f-s-14 default-select2">
                    {% for choice in choices.BLEEDING_CHOICES %}
                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 f-s-14" for="alcohol_abuse">Alcohol abuse *<br/><span></span></label>
            <div class="col-md-6 col-sm-6">
                <select id="alcohol_abuse" name="alcohol_abuse" class="form-control f-s-14 default-select2">
                    {% for choice in choices.ALCOHOL_ABUSE_CHOICES %}
                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
{% endblock %}
