{% extends 'data_entry/panel_base.html' %}

{% block panel_heading %}Medical History 2{% endblock %}

{% block fa_icon %}fa fa-home{% endblock %}

{% block panel_body %}
    <div class="form-horizontal form-bordered">
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 f-s-14" for="chf">CHF</label>
            <div class="col-md-3 col-sm-3">
                <input id="chf" type="checkbox" name="chf" class="bootstrap-switch" data-on-text="Yes" data-off-text="No" data-handle-width="50" data-label-width="10" />
            </div>

            <label class="control-label col-md-3 col-sm-3 f-s-14" for="diabetes_mellitus">Diabetes Mellitus</label>
            <div class="col-md-3 col-sm-3">
                <input id="diabetes_mellitus" type="checkbox" name="diabetes_mellitus" class="bootstrap-switch" data-on-text="Yes" data-off-text="No" data-handle-width="50" data-label-width="10" />
            </div>
        </div>



        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 f-s-14" for="stroke">Stroke</label>
            <div class="col-md-3 col-sm-3">
                <input id="stroke" type="checkbox" name="stroke" class="bootstrap-switch" data-on-text="Yes" data-off-text="No" data-handle-width="50" data-label-width="10" />
            </div>

            <label class="control-label col-md-3 col-sm-3 f-s-14" for="tia">TIA</label>
            <div class="col-md-3 col-sm-3">
                <input id="tia" type="checkbox" name="tia" class="bootstrap-switch" data-on-text="Yes" data-off-text="No" data-handle-width="50" data-label-width="10" />
            </div>
        </div>



        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 f-s-14" for="renal_dysfunction">Renal dysfunction</label>
            <div class="col-md-3 col-sm-3">
                <input id="renal_dysfunction" type="checkbox" name="renal_dysfunction" class="bootstrap-switch" data-on-text="Yes" data-off-text="No" data-handle-width="50" data-label-width="10" />
            </div>

            <label class="control-label col-md-3 col-sm-3 f-s-14" for="ckd_on_dialysis">CKD on dialysis</label>
            <div class="col-md-3 col-sm-3">
                <input id="ckd_on_dialysis" type="checkbox" name="ckd_on_dialysis" class="bootstrap-switch" data-on-text="Yes" data-off-text="No" data-handle-width="50" data-label-width="10" />
            </div>
        </div>



        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 f-s-14" for="renal_transplant">Renal transplant</label>
            <div class="col-md-3 col-sm-3">
                <input id="renal_transplant" type="checkbox" name="renal_transplant" class="bootstrap-switch" data-on-text="Yes" data-off-text="No" data-handle-width="50" data-label-width="10" />
            </div>

            <label class="control-label col-md-3 col-sm-3 f-s-14" for="liver_dysfunction">Liver dysfunction</label>
            <div class="col-md-3 col-sm-3">
                <input id="liver_dysfunction" type="checkbox" name="liver_dysfunction" class="bootstrap-switch" data-on-text="Yes" data-off-text="No" data-handle-width="50" data-label-width="10" />
            </div>
        </div>



        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 f-s-14" for="drug_abuse">Drug abuse</label>
            <div class="col-md-3 col-sm-3">
                <input id="drug_abuse" type="checkbox" name="drug_abuse" class="bootstrap-switch" data-on-text="Yes" data-off-text="No" data-handle-width="50" data-label-width="10" />
            </div>

            <label class="control-label col-md-3 col-sm-3 f-s-14" for="chronic_nsaids_rx">Chronic NSAIDS RX</label>
            <div class="col-md-3 col-sm-3">
                <input id="chronic_nsaids_rx" type="checkbox" name="chronic_nsaids_rx" class="bootstrap-switch" data-on-text="Yes" data-off-text="No" data-handle-width="50" data-label-width="10" />
            </div>
        </div>



        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 f-s-14" for="excessive_fall_risk">Excessive fall risk</label>
            <div class="col-md-3 col-sm-3">
                <input id="excessive_fall_risk" type="checkbox" name="excessive_fall_risk" class="bootstrap-switch" data-on-text="Yes" data-off-text="No" data-handle-width="50" data-label-width="10" />
            </div>
        </div>
    </div>
{% endblock %}