{% extends 'data_entry/panel_base.html' %}

{% load i18n %}

{% block panel_heading %}{% trans 'Personal Information' %}{% endblock %}

{% block fa_icon %}fa fa-user{% endblock %}

{% block panel_body %}
    <div class="form-horizontal form-bordered">
        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 f-s-14" for="identification">{% trans 'ID Number' %}<br/><span></span></label>
            <div class="col-md-6 col-sm-6">
                <input id="identification" type="text" name="identification" class="form-control f-s-14 id-mask"  />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-4 col-sm-4 f-s-14">{% trans 'Initials' %}</label>

            <div class="col-md-2 col-sm-2">
                <input id="first_name" type="text" name="first_name" class="form-control f-s-14 text-center" style="text-transform: uppercase;" placeholder="First" maxlength="1" />
            </div>

            <div class="col-md-2 col-sm-2">
                <input id="middle_name" type="text" name="middle_name" class="form-control f-s-14 text-center" style="text-transform: uppercase;" placeholder="Middle" maxlength="1" />
            </div>

            <div class="col-md-2 col-sm-2">
                <input id="last_name" type="text" name="last_name" class="form-control f-s-14 text-center" style="text-transform: uppercase;" placeholder="Last" maxlength="1" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 f-s-14" for="age">{% trans 'Age *' %}<br/><span></span></label>
            <div class="col-md-6 col-sm-6">
                <input id="age" name="age" type="number" step="1" class="form-control f-s-14" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 f-s-14" for="gender">{% trans 'Gender *' %}<br/><span></span></label>
            <div class="col-md-6 col-sm-6">
                <select id="gender" name="gender" class="form-control f-s-14 default-select2">
                    {% for choice in choices.GENDER_CHOICES %}
                    <option value="{{ choice.0 }}">{% trans choice.1 %}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
{% endblock %}
