{% extends 'data_entry/panel_base.html' %}

{% block panel_heading %}Procedure Details{% endblock %}

{% block fa_icon %}fa fa-hospital-o{% endblock %}

{% block panel_body %}
    <div class="form-horizontal form-bordered">
        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 f-s-14" for="date_of_procedure">Date of procedure *<br/><span></span></label>
            <div class="col-md-6 col-sm-6">
                <input id="date_of_procedure" type="text" name="date_of_procedure" class="form-control f-s-14 datepicker"  />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 f-s-14" for="indication">Indication *<br/><span></span></label>
            <div class="col-md-6 col-sm-6">
                <select id="indication" name="indication" class="form-control f-s-14 default-select2" >
                    <option value="">---------</option>
                    {% for indication in values.indication %}
                    <option value="{{ indication.id }}">{{ indication.value }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 f-s-14" for="vessels_pci">Vessels PCI *<br/><span></span></label>
            <div class="col-md-6 col-sm-6">
                <select id="vessels_pci" name="vessels_pci" class="form-control f-s-14 multiple-select2" multiple="multiple" >
                    {% for vessel in values.vessels_pci %}
                    <option value="{{ vessel.id }}">{{ vessel.value }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 f-s-14" for="stent">Stent *<br/><span></span></label>
            <div class="col-md-6 col-sm-6" >
                <select id="stent" name="stent" class="form-control f-s-14 default-select2">
                    <option value="">---------</option>
                    {% for stent in values.stent %}
                    <option value="{{ stent.id }}">{{ stent.value }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 f-s-14" for="balloons">Balloons *<br/><span></span></label>
            <div class="col-md-6 col-sm-6">
                <input id="balloons" type="number" name="balloons" class="form-control f-s-14"  />
            </div>
        </div>
    </div>
{% endblock %}