{% extends 'data_entry/panel_base.html' %}

{% block panel_heading %}Procedure Details &amp; Atrial Fibrillation{% endblock %}

{% block fa_icon %}fa fa-hospital-o{% endblock %}

{% block panel_body %}
    <div class="form-horizontal form-bordered">
        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 f-s-14" for="indication">Indication *<br/><span></span></label>
            <div class="col-md-6 col-sm-6">
                <select id="indication" name="indication" class="form-control f-s-14 default-select" >
                    {% for choice in choices.INDICATION_CHOICES %}
                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>



        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 f-s-14" for="stent">Stent *<br/><span></span></label>
            <div class="col-md-6 col-sm-6 f-s-14" >
                <div class="row">
                    <div class="col-md-12">
                        <input id="bms_stent" type="checkbox" name="stent" value="bms_stent" style="cursor:pointer;"/> <label for="bms_stent" style="cursor:pointer;">Bare-Metal Stent</label>
                    </div>

                    <div class="col-md-12">
                        <input id="des_stent" type="checkbox" name="stent" value="des_stent" style="cursor:pointer;"/> <label for="des_stent" style="cursor:pointer;">Drug-Eluting Stent</label>
                    </div>

                    <div class="col-md-12">
                        <input id="no_pci" type="checkbox" name="no_pci" value="no_pci" style="cursor:pointer;"/> <label for="no_pci" style="cursor:pointer;">No PCI</label>
                    </div>
                </div>
            </div>
        </div>



        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 f-s-14" for="af_type">Type of Atrial Fibrillation<br/><span></span></label>
            <div class="col-md-6 col-sm-6">
                <select id="af_type" name="af_type" class="form-control f-s-14 nullable-select">
                    <option value="">None</option>
                    {% for choice in choices.AF_TYPE_CHOICES %}
                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>



        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 f-s-14" for="prev_anti_coagulation">Previous anti-coagulation</label>
            <div class="col-md-6 col-sm-6">
                <select id="prev_anti_coagulation" name="prev_anti_coagulation" class="form-control f-s-14 nullable-select">
                    <option value="">None</option>
                    {% for choice in choices.ANTI_COAGULATION_CHOICES %}
                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>



        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 f-s-14" for="warfarin_intolerance">Warfarin intolerance</label>
            <div class="col-md-6 col-sm-6">
                <input id="warfarin_intolerance" type="checkbox" name="warfarin_intolerance" class="bootstrap-switch" data-on-text="Yes" data-off-text="No" data-size="normal" data-handle-width="50" data-label-width="10" />
            </div>
        </div>



        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 f-s-14" for="inr_instability">INR instability</label>
            <div class="col-md-6 col-sm-6">
                <input id="inr_instability" type="checkbox" name="inr_instability" class="bootstrap-switch" data-on-text="Yes" data-off-text="No" data-size="normal" data-handle-width="50" data-label-width="10" />
            </div>
        </div>



        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 f-s-14" for="noac_allergy_or_intolerance">NOAC allergy or intollerance</label>
            <div class="col-md-6 col-sm-6">
                <input id="noac_allergy_or_intolerance" type="checkbox" name="noac_allergy_or_intolerance" class="bootstrap-switch" data-on-text="Yes" data-off-text="No" data-size="normal" data-handle-width="50" data-label-width="10" />
            </div>
        </div>
    </div>
{% endblock %}
