{% extends 'data_entry/panel_base.html' %}

{% load static %}

{% block panel_heading %}McMaster University Recommendation{% endblock %}

{% block fa_icon %}fa fa-clipboard{% endblock %}

{% block panel_body %}
    <div id="mcm_recommendation" class="panel-body">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3 style="opacity: 0.3;">Please fill out the form to receive a recommendation</h3>
          <h4><a href="{% static 'data_entry/References/Recommendations/Algorithm_MacMaster.pdf'%}" target="_blank">View the algorithm on which we based this recommendation</a></h4>
        </div>
      </div>
    </div>
{% endblock %}
