{% extends 'data_entry/panel_base.html' %}

{% block panel_heading %}CCS Recommendation{% endblock %}

{% block fa_icon %}fa fa-check-square-o{% endblock %}

{% block panel_body %}
    <div id="ccs_recommendation" class="panel-body">
      <!-- <div class="row p-10 m-b-20">
          <div class="col-md-8 col-md-offset-2">
            <div class="note note-success m-b-0 p-10 text-center">
              <h1>Fuck</h1>
              <p>for 1 month</p>
            </div>

            <div class="note note-success m-b-0 p-10 text-center">
              <h1>Fuck</h1>
              <p>for 1 month</p>
            </div>

            <div class="note note-info m-b-0 p-5 text-center">
              <h4 class="m-0"><strong>then</strong></h4>
            </div>

            <div class="note note-success m-b-0 p-10 text-center">
              <h1>Sleep</h1>
              <p>for 2 years</p>
            </div>
          </div>
      </div>

      <div class="row p-10 m-b-20">
        <div class="text-center">
          <h1><strong>OR</strong></h1>
        </div>
      </div>

      <div class="row p-10 m-b-20">
          <div class="col-md-8 col-md-offset-2">
            <div class="note note-success m-b-0 p-10 text-center">
              <h1>Fuck?</h1>
            </div>

            <div class="note note-info m-b-0 p-5 text-center">
              <h4 class="m-0"><strong>For 1 month</strong></h4>
            </div>
          </div>
      </div> -->
    </div>
{% endblock %}
