{% extends 'data_entry/panel_base.html' %}

{% block panel_heading %}Recommendation{% endblock %}

{% block fa_icon %}fa fa-check-square-o{% endblock %}

{% block panel_body %}
    <div class="panel-body">
        <div class="row p-10">
            <div class="note note-success col-md-12">
                <h3>Recommended Therapy</h3>
                <p id="therapy_text" class="f-s-14">
                    Here we can give details on the recommended therapy.
                </p>
            </div>
        </div>

        <div class="row p-10">
            <div class="col-md-2 col-sm-2"></div>
            <label class="control-label col-md-5 col-sm-5 f-s-14" for="followed_recommendation">Is the recommended therapy being followed?</label>
            <div class="col-md-3 col-sm-3 text-right">
                <input id="followed_recommendation" type="checkbox" name="followed_recommendation" data-on-text="Yes" data-off-text="No" data-handle-width="50" data-label-width="10" checked/>
            </div>
            <div class="col-md-2 col-sm-2"></div>
        </div>

        <div class="row m-b-20 p-10 form-group">
            <div class="col-md-2 col-sm-2"></div>
            <div class="col-md-8 col-sm-8">
                <textarea id="reason_not_followed" name="reason_not_followed" class="form-control f-s-14" placeholder="Please specify a reason" rows="5" style="display:none;"></textarea>
                <label form="reason_not_followed"><span></span></label>
            </div>

            <div class="col-md-2 col-sm-2"></div>
        </div>

        <div class="row p-10">
            <div class="col-md-12 col-sm-12"><button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button></div>
        </div>
    </div>
{% endblock %}