{% extends 'data_entry/panel_base.html' %}

{% block panel_heading %}Recommendation{% endblock %}

{% block fa_icon %}fa fa-check-square-o{% endblock %}

{% block panel_body %}
    <div class="panel-body">
        <div class="row p-10">
            <div class="note note-success col-md-12 m-b-10">
                <h3>Recommended Therapy</h3>
            </div>

            <p id="therapy_text_1" class="f-s-20 f-w-500 m-b-40">
                Here we can give details on the recommended therapy.
            </p>


            <div class="note note-success col-md-12">
                <h3>Anti-Coagulation</h3>
            </div>

            <p id="therapy_text_2" class="f-s-20 f-w-500 m-b-40">
                Here we can give details on the recommended therapy.
            </p>
        </div>

        <div class="row p-10">
            <div class="col-md-3 col-sm-3"></div>

            <div class="col-md-6 col-sm-6 f-s-20">
                <label>Is the recommended therapy being followed?</label>
                <div style="float:right;">
                    <input id="followed_recommendation" type="checkbox" name="followed_recommendation" data-on-text="Yes" data-off-text="No" data-handle-width="50" data-label-width="10" checked/>
                </div>
            </div>

            <div class="col-md-3 col-sm-3"></div>
        </div>

        <div class="row m-b-20 p-10 form-group">
            <div class="col-md-4 col-sm-4"></div>
            <div class="col-md-4 col-sm-4">
                <textarea id="reason_not_followed" name="reason_not_followed" class="form-control f-s-14" placeholder="Please specify a reason" rows="5" style="display:none;"></textarea>
                <label form="reason_not_followed"><span></span></label>
            </div>

            <div class="col-md-4 col-sm-4"></div>
        </div>

        <div class="row p-10">
            <div class="col-md-3 col-sm-3"></div>    
            <div class="col-md-6 col-sm-6"><button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button></div>
            <div class="col-md-3 col-sm-3"></div>                
        </div>
    </div>
{% endblock %}