{% extends 'data_entry/panel_base.html' %}

{% load static %}

{% block panel_heading %}Hamilton AF-PCI Recommendation{% endblock %}

{% block fa_icon %}fa fa-clipboard{% endblock %}
{% block panel_body %}
<center>
   <h4><a href="{% static 'data_entry/References/Recommendations/Algorithm_MacMaster_May17.pdf'%}" target="_blank">View the algorithm on which we based this recommendation</a></h4>
</center>
<div class="panel-body">
  <div id="mcm_recommendation">
      <!--div class="row hamilton_therapy_options initial">
          <div class="col-md-12 text-center">
             <h3 style="opacity: 0.3;">Please fill out the form to receive a recommendation</h3>
          </div>
       </div>
       <div class="row hamilton_therapy_options isnull" style="display: none;">
          <div class="col-md-12 text-center">
             <h3 style="opacity: 0.3;">There is no recommended treatment</h3>
          </div>
       </div>
       <div class="row hamilton_therapy_options A" style="display: none;">
          <div class="col-md-12 text-center">
             <a href="{% static 'data_entry/img/hamilton_therapy_options/A.png'%}" data-lightbox="option-therapy-img-A">
              <img src="{% static 'data_entry/img/hamilton_therapy_options/A.png'%}" alt="Therapy A" class="img-thumbnail">
          </a>
          </div>
       </div>
       <div class="row hamilton_therapy_options B" style="display: none;">
          <div class="col-md-12 text-center">
             <a href="{% static 'data_entry/img/hamilton_therapy_options/B.png'%}" data-lightbox="option-therapy-img-B">
              <img src="{% static 'data_entry/img/hamilton_therapy_options/B.png'%}" alt="Therapy B" class="img-thumbnail">
          </a>
          </div>
       </div>
       <div class="row hamilton_therapy_options C" style="display: none;">
          <div class="col-md-12 text-center">
             <a href="{% static 'data_entry/img/hamilton_therapy_options/C.png'%}" data-lightbox="option-therapy-img-C">
              <img src="{% static 'data_entry/img/hamilton_therapy_options/C.png'%}" alt="Therapy C" class="img-thumbnail">
          </a>
          </div>
       </div>
       <div class="row hamilton_therapy_options D" style="display: none;">
          <div class="col-md-12 text-center">
             <a href="{% static 'data_entry/img/hamilton_therapy_options/D.png'%}" data-lightbox="option-therapy-img-D">
              <img src="{% static 'data_entry/img/hamilton_therapy_options/D.png'%}" alt="Therapy D" class="img-thumbnail">
          </a>
          </div>
       </div>
       <div class="row hamilton_therapy_options E" style="display: none;">
          <div class="col-md-12 text-center">
             <a href="{% static 'data_entry/img/hamilton_therapy_options/E.png'%}" data-lightbox="option-therapy-img-E">
              <img src="{% static 'data_entry/img/hamilton_therapy_options/E.png'%}" alt="Therapy E" class="img-thumbnail">
          </a>
          </div>
       </div>
       <div class="row hamilton_therapy_options F" style="display: none;">
          <div class="col-md-12 text-center">
             <a href="{% static 'data_entry/img/hamilton_therapy_options/F.png'%}" data-lightbox="option-therapy-img-F">
              <img src="{% static 'data_entry/img/hamilton_therapy_options/F.png'%}" alt="Therapy F" class="img-thumbnail">
          </a>
          </div>
       </div-->
  </div>
   <br>
   <div class="row">
     <div class="col-xs-12">
       <table id="hamilton-app-table" class="table table-bordered table-condensed">
         <thead>
           <tr>
             <th></th>
             <th>Dabigatran</th>
             <th>Rivaroxaban</th>
             <th>Apixaban</th>
             <th>Endoxaban</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th>Dose</th>
             <td>110 mg twice daily</td>
             <td>20 mg once daily</td>
             <td>5 mg twice daily</td>
             <td>60 mg (or 30 mg) once daily</td>
           </tr>
           <tr>
             <th>Dose Adjustment</th>
             <td>None</td>
             <td>
               <p>110 mg twice daily if:</p>
               <ul style="padding-left:7px;">
                 <li>≥ 80 years</li>
                 <li>CrCl 30 - 40 mL/min</li>
               </ul>
             </td>
             <td>
              <p>2.5 mg twice daily if serum creatinine ≥ 1.5 mg/dL</p>
              <p>(133 µmol/L) plus age ≥ 80 years or weight ≤ 60 kg</p>
             </td>
             <td>
               <p>30 mg one daily if:</p>
                <ul style="padding-left:7px;"><li>CrCl 30 - 49 mL/min</li></ul>
             </td>
           </tr>
         </tbody>
         <tfoot>
           <tr>
             <th></th>
             <th colspan="4" class="text-center">
               Not recommended if CrCl &lt; 30mL/min
             </th>
           </tr>
         </tfoot>
       </table>
     </div>
   </div>

</div>
{% endblock %}
