{% extends 'data_entry/panel_base.html' %}

{% block panel_heading %}Scores{% endblock %}

{% block fa_icon %}fa fa-calculator{% endblock %}

{% block panel_body %}
    <div class="row">
        <div class="col-md-4 text-center">
            <span style="font-size:30px">CHADS<sub>2</sub></span>
            <div class="row">
                <div class="col-sm-6">
                    <div id="chads2-score-gauge" class="center-block" style="width:200px;height:120px;"></div>
                </div>

                <div class="col-sm-6">
                    <div id="chads2-percentage-gauge" class="center-block" style="width:200px;height:120px;"></div>
                </div>
            </div>
        </div>

        <div class="col-md-4 text-center">
            <span style="font-size:30px">CHA<sub>2</sub>DS<sub>2</sub>-VASc</span>
            <div class="row">
                <div class="col-sm-6">
                    <div id="cha2-score-gauge" class="center-block" style="width:200px;height:120px;"></div>
                </div>

                <div class="col-sm-6">
                    <div id="cha2-percentage-gauge" class="center-block" style="width:200px;height:120px;"></div>
                </div>
            </div>
        </div>

        <div class="col-md-4 text-center">
            <span style="font-size:30px">HAS-BLED</span>
            <div class="row">
                <div class="col-sm-6">
                    <div id="hasbled-score-gauge" class="center-block" style="width:200px;height:120px;"></div>
                </div>

                <div class="col-sm-6">
                    <div id="hasbled-percentage-gauge" class="center-block" style="width:200px;height:120px;"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}