{% extends 'data_entry/panel_base.html' %}

{% block panel_heading %}Therapy choice{% endblock %}

{% block fa_icon %}fa fa-check-square-o{% endblock %}
{% load static %}

{% block panel_body %}
    <div class="panel-body">
        <div class="row p-20 m-b-20">
            <div class="col-md-12 text-center">
              <h2>Which therapy recommendation will you follow?</h2>
            </div>

            <div class="col-md-8 col-md-offset-2 p-20 text-center">
              <button id="mcm-therapy-option-button" type="button" class="btn btn-info btn-block btn-lg therapy-option-button" data-chosen-therapy="mcm">Hamilton AF-PCI</button>
              <button id="ccs-therapy-option-button" type="button" class="btn btn-info btn-block btn-lg therapy-option-button" data-chosen-therapy="ccs">CCS</button>
              <button id="other-therapy-option-button" type="button" class="btn btn-info btn-block btn-lg therapy-option-button" data-chosen-therapy="other">Other</button>
              <br>
              <br>
              <h4 class="bg-warning" style="padding:8px;">
                <i class="fa fa-exclamation-triangle text-warning" aria-hidden="true"></i><br>
                Safety recommendation for high risk bleeding patients
              </h4>
              <br>
              <div>
                <a href="{% static 'data_entry/References/Guidelines/OtherReferences/2016_PIONEER_AF-PCI_NEJM.pdf'%}" target="_blank">
                  <img style="margin:0 auto;" src="{% static 'img/pioneer-af-pci.png' %}" class="img-responsive" alt="Cinque Terre">
                  <div class="alert alert-warning" style="text-decoration: none;">
                    <h4>Rivaroxaban 15 mg qd*</h4>
                    <h4>Clopidogrel 75 mg qd&#10013;</h4>
                  </div>
                </div>
                </a>
              </div>
        </div>

        <div id="submit-area" class="row p-10 m-b-20 form-group" style="display:none;">
            <div class="col-md-12 text-center">
              <h3>Please, tell us why (in case of "Other", specify):</h3>
            </div>

            <div class="col-md-6 col-md-offset-3 text-center f-s-14">
              <textarea id="reason" name="reason" class="form-control f-s-14" rows="6" style="width:100%; height:100%; box-sizing: border-box;"></textarea>
              <label form="reason"><span></span></label>
            </div>

            <div class="col-md-6 col-md-offset-3">
              <button type="submit" class="btn btn-primary btn-block btn-lg" data-loading-text="Working...">Submit</button>
            </div>
        </div>
    </div>
{% endblock %}
