{% extends 'base_theme.html' %}

{% block page_title %}Email Verification{% endblock %}

{% block body_class %}pace-top{% endblock %}

{% block body %}
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    <!-- end #page-loader -->
    
    <!-- begin #page-container -->
    <div id="page-container" class="fade">
        {% block content %}
            <div class="login bg-black animated fadeInDown">
                <!-- begin brand -->
                <div class="login-header">
                    <div class="brand">
                        <span class="logo"></span>Email Verification
                        <small>Done</small>
                    </div>
                    <div class="icon">
                        <i class="fa fa-sign-in"></i>
                    </div>
                </div>
                <!-- end brand -->
                <div class="login-content text-center">
                    <p class="lead">Your email address has been successfully verified.</p>
                    <a href="/" class="btn btn-success btn-block btn-lg">Sing in</a>            
                </div>
                <div id="signin-form-errors" class="row text-center parsley-errors-list" style="font-size:32px">
                    {{ form.errors.username_or_email.0 }}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}