{% extends 'base.html' %}
{% load static %}

{% block head_css %}
    <link href="{% static 'plugins/DataTables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/DataTables/extensions/Select/css/select.bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block page_title %}My Patients{% endblock %}

{% block menu2 %}active{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="my-panel-heading bg-blue">
            <div class="row">
                <div class="col-xs-12">Patients</div>
            </div>
        </div>
        <div class="panel-body">
            <table id="data-table" class="table table-striped">
                <thead>
                    <tr>
                        <th>I.D.</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Age</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for patient in patients %}
                        <tr>
                            <td>{{ patient.identification }}</td>
                            <td>{{ patient.full_name }}</td>
                            <td>{{ patient.get_gender_display }}</td>
                            <td>{{ patient.age }}</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-primary">Email Medical Report<br/></button>
                                <a type="button" class="btn btn-sm btn-primary" href="{% url 'data_entry:patients:print_medical' patient.id %}" target="_blank">Print Medical Report<br/></a>
                                <button type="button" class="btn btn-sm btn-primary">Email Patient Report<br/></button>
                                <a type="button" class="btn btn-sm btn-primary" href="{% url 'data_entry:patients:print_patient' patient.id %}" target="_blank">Print Patient Report<br/></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block tail_js %}
    <script src="{% static 'plugins/DataTables/media/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'plugins/DataTables/media/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/DataTables/extensions/Select/js/dataTables.select.min.js' %}"></script>
    <script src="{% static 'plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>
    <script>
        var handleDataTableSelect = function() {
            "use strict";
            
            if ($('#data-table').length !== 0) {
                $('#data-table').DataTable({
                    responsive: true,
                    // processing: true,
                    // serverSide: true,
                    // ajax: '/patients/',
                    // select: {
                    //     style: 'single'
                    // }
                });
            }
        };

        var TableManageTableSelect = function () {
            "use strict";
            return {
                //main function
                init: function () {
                    handleDataTableSelect();
                }
            };
        }();

        TableManageTableSelect.init();
    </script>
{% endblock %}
