{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Patient</title>
    <link href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    
</head>
<body style="padding-left:20px;padding-right:20px">
    <h1 class="text-center" style="font-weight:700;">TRIPPLE THERAPY REPORT</h1>

    <h2>Personal Information</h2>
    <hr/>
    <table class="table borderless" style="border:none;">
        <tbody>
            <tr>
                <th>Identification Number</th>
                <td class="text-left">010-919-848</td>
                <th>Name</th>
                <td class="text-left">Armando Alvarado Jose</td>
            </tr>
        </tbody>
    </table>
</body>
</html>