{% extends 'base.html' %}
{% load static %}

{% block head_css %}
    <link href="{% static 'plugins/bootstrap-datepicker/css/datepicker.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/select2/css/select2.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/switchery/switchery.min.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet">
{% endblock %}

{% block page_title %}Dashboard{% endblock %}

{% block page_header %}Dashboard{% endblock %}

{% block content %}
    <form id="patient_form" action="{% url 'data_entry:patients:patients' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                {% include 'data_entry/includes/personal_info_panel.html' %}
            </div>

            <div class="col-md-6">
                {% include 'data_entry/includes/procedure_details_panel.html' %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {% include 'data_entry/includes/atrial_fibrilation_panel.html' %}
            </div>

            <div class="col-md-6">
                {% include 'data_entry/includes/blood_work_panel.html' %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {% include 'data_entry/includes/medical_history_1_panel.html' %}
            </div>
            
            <div class="col-md-6">
                {% include 'data_entry/includes/medical_history_2_panel.html' %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% include 'data_entry/includes/recommendation_panel.html' %}
            </div>
        </div>
    </form>
{% endblock %}


{% block tail_js %}
    <script src="{% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'plugins/masked-input/masked-input.min.js' %}"></script>
    <script src="{% static 'plugins/switchery/switchery.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>

    <script>
        $('#date_of_birth').datepicker({
            todayHighlight: true,
            autoclose: true,
            startView: 2,
            defaultViewDate: {year: '1970', month: 1, day: 1} // this is not working?!?!
        });

        $('#date_of_procedure').datepicker({
            todayHighlight: true,
            autoclose: true,
            startView: 1,
        });

        $(".default-select2").select2({
            minimumResultsForSearch: Infinity,
            theme: "default",
            placeholder: '---------'
        });

        $(".multiple-select2").select2({ placeholder: "---------" });

        $("#identification").mask("999-999-999");

        $(".bootstrap-switch").bootstrapSwitch();
        
        $("#followed_recommendation").bootstrapSwitch({
            onSwitchChange: function(event, state){
                var ta = $('#reason_not_followed');
                if (state === true){
                    ta.stop().slideUp(100);
                }else{
                    ta.stop().slideDown(100);
                }
            }
        });

        $('#patient_form').submit(function(event){
            event.preventDefault();

            var form = $(this)[0];

            var fd = new FormData(form);

            Pace.track(function(){
                // $('#signup-form-errors').removeClass('filled').html('');
                var request = $.ajax({
                  url: form.getAttribute('action'),
                  type: 'POST',
                  data: fd,
                  processData: false,  // tell jQuery not to process the data
                  contentType: false   // tell jQuery not to set contentType
                });

                request.done(function(data, textStatus, jqXHR) {
                    console.log('Success');
                    console.log(data);
                    alert('Patient saved')
                    // window.location.replace("{% url 'data_entry:dashboard' %}");
                });
                 
                request.fail(function(jqXHR, textStatus, errorThrown) {
                    console.log('Fail');
                    console.log(jqXHR);
                    alert('Validation errors!')
                    
                    // var errorMessage = jqXHR.responseJSON.error; 
                    // $('#signup-form-errors').addClass('filled').html(errorMessage)
                });
            });
        });
    </script>
{% endblock %}