{% extends 'base.html' %}
{% load static %}

{% block head_css %}
    <link href="{% static 'plugins/bootstrap-datepicker/css/datepicker.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/select2/dist/css/select2.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/switchery/switchery.min.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet">
{% endblock %}

{% block page_title %}Dashboard{% endblock %}

{% block page_header %}Dashboard{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            {% include 'data_entry/includes/personal_info_panel.html' %}
        </div>

        <div class="col-md-6">
            {% include 'data_entry/includes/procedure_details_panel.html' %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {% include 'data_entry/includes/atrial_fibrilation_panel.html' %}
        </div>

        <div class="col-md-6">
            {% include 'data_entry/includes/blood_work_panel.html' %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {% include 'data_entry/includes/medical_history_1_panel.html' %}
        </div>
        
        <div class="col-md-6">
            {% include 'data_entry/includes/medical_history_2_panel.html' %}
        </div>
    </div>
{% endblock %}


{% block tail_js %}
    <script src="{% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'plugins/select2/dist/js/select2.min.js' %}"></script>
    <script src="{% static 'plugins/masked-input/masked-input.min.js' %}"></script>
    <script src="{% static 'plugins/switchery/switchery.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>

    <script>
        $('.datepicker').datepicker({
            todayHighlight: true,
            autoclose: true
        });

        $(".default-select2").select2({
            minimumResultsForSearch: Infinity,
            theme: "default",
            placeholder: '---------'
        });

        $(".multiple-select2").select2({ placeholder: "---------" });

        $("#identification").mask("999-999-999");


        $('[data-render=switchery]').each(function() {
            var themeColor = '#348fe2'; // blue

            var option = {};
                option.color = themeColor;
                option.secondaryColor = ($(this).attr('data-secondary-color')) ? $(this).attr('data-secondary-color') : '#dfdfdf';
                option.className = ($(this).attr('data-classname')) ? $(this).attr('data-classname') : 'switchery';
                option.disabled = ($(this).attr('data-disabled')) ? true : false;
                option.disabledOpacity = ($(this).attr('data-disabled-opacity')) ? parseFloat($(this).attr('data-disabled-opacity')) : 0.5;
                option.speed = ($(this).attr('data-speed')) ? $(this).attr('data-speed') : '0.5s';
            var switchery = new Switchery(this, option);
        });

        $("input[type='checkbox']").bootstrapSwitch();
    </script>
{% endblock %}