{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head_css %}
    <link href="{% static 'plugins/bootstrap-datepicker/css/datepicker.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/select2/css/select2.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/switchery/switchery.min.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/lightbox/css/lightbox.css' %}" rel="stylesheet" />
    <style type="text/css">
        #hamilton-app-table th {
            background-color: #f1f1f1;
        }
        .note-default {
            border-left-color: #f1f1f1;
        }
        .therapy-option {
            border-left-color: #f1f1f1;
        }
        .therapy-option table {
            font-size:16px!important;
        }
    </style>
{% endblock %}

{% block page_title %}{% trans 'Patient Form' %}{% endblock %}

{% block menu1 %}active{% endblock %}

{% block content %}
    <form id="patient_form" name="patient_form" action="{% url 'data_entry:patients:index' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        {% include 'data_entry/includes/personal_info_panel.html' %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% include 'data_entry/includes/pci_risk_panel.html' %}
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                {% include 'data_entry/includes/procedure_details_atrial_fibrilation_panel.html' %}
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                {% include 'data_entry/includes/medical_history_1_panel.html' %}
            </div>

            <div class="col-md-6">
                {% include 'data_entry/includes/medical_history_2_panel.html' %}
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12">
                {% include 'data_entry/includes/GFR_panel.html' %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% include 'data_entry/includes/scores_panel.html' %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {% include 'data_entry/includes/chads2_hasbled_plot_panel.html' %}
            </div>

            <div class="col-md-6">
                {% include 'data_entry/includes/cha2ds2vasc_hasbled_plot_panel.html' %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% include 'data_entry/includes/recommendation_mcmaster_panel.html' %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% include 'data_entry/includes/dose_adjustment_table.html' %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% include 'data_entry/includes/submission_panel.html' %}
            </div>
        </div>


        <!-- #modal-dialog -->
        <div class="modal fade" id="submit-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">{% trans 'Patient Saved' %}</h4>
                    </div>
                    <div class="modal-body f-s-14">
                        <div class="row">
                            <div class="col-md-4 center-block">
                                <a href="#" id="medical_report_button" type="button" class="btn btn-block btn-lg btn-primary">
                                    <i class="fa fa-envelope fa-3x"></i><br/>
                                    <span class="f-s-20 f-w-300">{% trans 'Medical Report' %}</span>
                                </a>
                            </div>

                            <div class="col-md-4">
                                <a href="#" id="patient_report_button" target="_blank" type="button" class="btn btn-block btn-lg btn-primary">
                                    <i class="fa fa-print fa-3x"></i><br/>
                                    <span class="f-s-20 f-w-300">{% trans 'Patient Report' %}<span>
                                </a>
                            </div>

                            <div class="col-md-4">
                                <a href="{% url 'data_entry:patients:index' %}" type="button" class="btn btn-block btn-lg btn-primary">
                                    <i class="fa fa-users fa-3x"></i><br/>
                                    <span class="f-s-20 f-w-300">{% trans 'My Patients' %}<span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">{% trans 'Close' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}


{% block tail_js %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script src="{% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'plugins/masked-input/masked-input.min.js' %}"></script>
    <script src="{% static 'plugins/switchery/switchery.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-validation/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-validation/js/additional-methods.min.js' %}"></script>
    <script src="{% static 'data_entry/js/scores.js' %}"></script>
    <script src="{% static 'data_entry/js/risks.js' %}"></script>
    <script src="{% static 'data_entry/js/therapy.js' %}"></script>
    <script src="{% static 'data_entry/js/patient-form-validation.js' %}"></script>
    <script src="{% static 'data_entry/js/plots.js' %}"></script>
    <script src="{% static 'data_entry/js/gauges.js' %}"></script>
    <script src="{% static 'data_entry/js/options.js' %}"></script>
    <script src="{% static 'data_entry/js/formCache.js' %}"></script>
    <script src="{% static 'plugins/lightbox/js/lightbox-2.6.min.js' %}"></script>

    <script>
        $(".default-select2").select2({
            minimumResultsForSearch: 1,
            placeholder: '---------',
            theme: "default"
        });

        $(".nullable-select2").select2({
            allowClear: true,
            minimumResultsForSearch: 1,
            placeholder: '---------',
            theme: "default"
        });

        $(".multiple-select2").select2({ placeholder: "---------" });

        $(".bootstrap-switch").bootstrapSwitch();

        /*$('#no_pci').on('change', function(elem) {
          var checked = $(this).is(':checked');

          if (checked) {
            $('#bms_stent').prop('checked', false).prop('disabled', true);
            $('#des_stent').prop('checked', false).prop('disabled', true);
          } else {
            $('#bms_stent').prop('disabled', false);
            $('#des_stent').prop('disabled', false);
          }
        });*/

        /*$('.therapy-option-button').on('click', function(elem) {
          $('.therapy-option-button').removeClass('active').addClass('btn-info');
          $(this).addClass('active').removeClass('btn-info').addClass('btn-primary');
          $('#submit-area').slideDown(100);
        });*/

        $('[name="agree_option"]').on('change', function(elem) {
            $(this).parent().removeClass('btn-success');
            $(this).parent().removeClass('btn-danger');
            $(this).parent().addClass('btn-default');
            
            if( $(this).val() == 'yes' ) {
                $(this).parent().removeClass('btn-default');
                $(this).parent().addClass('btn-success');

                $('#submit-area')
                .stop(true, true)
                .hide('fast');
            }else {
                $(this).parent().removeClass('btn-default');
                $(this).parent().addClass('btn-danger');

                $('#submit-area')
                .stop(true, true)
                .show('fast', function(){
                    $(this).slideDown(100);
                });
            }
        });

        // function clearFields(){
        //     $('#identification').val('');
        //     $('#first_name').val('');
        //     $('#middle_name').val('');
        //     $('#last_name').val('');
        //     $('#age').val('');
        //     $('[name="stent"]').prop('checked', false);
        //     $('[name="no_pci"]').prop('checked', false);
        //     $('#prev_anti_coagulation').val('0').trigger('change');
        //     $('input[type="number"]').val('');
        //     $('input[class="bootstrap-switch"]').bootstrapSwitch('state', false);
        //     $('#reason').val('');
        //     $('.therapy-option-button').removeClass('active').addClass('btn-info');
        // }

        function submitPatient(){
            // event.preventDefault();
            $('#patient_form button[type="submit"]').button('loading');

            var form = $('#patient_form')[0];

            var fd = new FormData(form);

            if ($('#bms_stent').is(':checked')){
                fd.append('bms_stent', 'on');
            }

            if ($('#des_stent').is(':checked')){
                fd.append('des_stent', 'on');
            }

            if ($('#poba').is(':checked')){
                fd.append('poba', 'on');
            }

            if ($('#deb').is(':checked')){
                fd.append('deb', 'on');
            }

            if ($('#drug_coated_stent').is(':checked')){
                fd.append('drug_coated_stent', 'on');
            }

            if ($('#hxoa_anemia').is(':checked')){
                fd.append('hxoa_anemia', 'on');
            }
            if ($('#hemoglobin_anemia').is(':checked')){
                fd.append('hemoglobin_anemia', 'on');
            }

            // submit MacMaster therapy recommendation
            fd.append('mcm_therapy', JSON.stringify( determineMCMTherapy_2() ));

            // submit which therapy recommendation was chones
            /*
            var chosenTherapy = $('.therapy-option-button.active').data('chosen-therapy') || 'other';
            fd.append('chosen_therapy', chosenTherapy);
            */

           var agreeTherapy = $('[name="agree_option"]:checked').val() == 'yes' ? true : false;
           if( agreeTherapy ) {
               fd.set('reason', 'Yes, i agree');
           }
           fd.append('agree_therapy', agreeTherapy);

            Pace.track(function(){
              $('#signup-form-errors').removeClass('filled').html('');
                var request = $.ajax({
                    url: form.getAttribute('action'),
                    type: 'POST',
                    data: fd,
                    processData: false,  // tell jQuery not to process the data
                    contentType: false   // tell jQuery not to set contentType
                });

                request.done(function(data, textStatus, jqXHR) {
                    // console.log('Success');
                    // console.log(data);
                    $('#medical_report_button').attr('href', data.medical_report_link);
                    $('#patient_report_button').attr('href', data.patient_report_link);
                    $('#submit-modal').modal('show');
                    clearForm(); // this is in formCache.js
                    $('#patient_form button[type="submit"]').button('reset');
                });

                request.fail(function(jqXHR, textStatus, errorThrown) {
                    $.gritter.add({
                        title: 'Validation Error',
                        text: 'Please fix the errors on the marked fields',
                        time: 5000,
                        position: 'top-left'
                    });

                    if (jqXHR.status == 400){
                        var data = JSON.parse(jqXHR.responseText);
                        var errors = {};

                        for (p in data){
                            errors[p] = data[p][0]; // only first error
                        }

                        patientFormValidator.showErrors(errors);
                    }

                    return false;
                });
            });
        }

        $('#email_results_button').on('click', function(){
            var email_results_input = $('#email_results_input');

            if (email_results_input.is(':visible')){
                email_results_input.fadeOut(100);
            }else{
                email_results_input.fadeIn(100);
            }
        });
    </script>

{% endblock %}
