{% extends 'base.html' %}
{% load static %}

{% block head_css %}
{% endblock %}

{% block page_title %}Guidelines{% endblock %}

{% block menu4 %}active{% endblock %}

{% block content %}

    <div class="panel panel-default">
        <div class="my-panel-heading bg-blue">
            <div class="row">
                <div class="col-xs-12">
                    American College of Cardiology Foundation / American Heart Association (ACCF/AHA)
                </div>
            </div>
        </div>
        <div class="panel-body">
            <ul>
              <h5><li><a href="{% static 'data_entry/References/Guidelines/ACCF_AHA/2013ACCF_AHA_STEMI.pdf'%}" target="_blank">2013 Guideline for the Management of ST-Elevation Myocardial Infarction</a></li></h5>
              <h5><li><a href="{% static 'data_entry/References/Guidelines/ACCF_AHA/2014ACCF_AHA_NSTEMI.pdf'%}" target="_blank">2014 Guideline for the Management of Patients With Non–ST-Elevation Acute Coronary Syndromes</a></li></h5>
              <h5><li><a href="{% static 'data_entry/References/Guidelines/ACCF_AHA/2016ACC_AHA_DAPT.pdf'%}" target="_blank">2016 Guideline Focused Update on Duration of Dual Antiplatelet Therapy in Patients With Coronary Artery Disease</a></li></h5>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="my-panel-heading bg-blue">
            <div class="row">
                <div class="col-xs-12">
                    Canadian Cardiovascular Society (CCS)
                </div>
            </div>
        </div>
        <div class="panel-body">
            <ul>
              <h5><li><a href="{% static 'data_entry/References/Guidelines/CCS/2016CCS_AF .pdf'%}" target="_blank">2016 Focused Update of the Canadian Cardiovascular Society Guidelines for the Management of Atrial Fibrillation</a></li></h5>
             </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="my-panel-heading bg-blue">
            <div class="row">
                <div class="col-xs-12">
                    European Society of Cardiology (ESC)
                </div>
            </div>
        </div>
        <div class="panel-body">
            <ul>
              <h5><li><a href="{% static 'data_entry/References/Guidelines/ESC/2012_ESC_STEMI.pdf'%}" target="_blank">2012 ESC Guidelines for the management of acute myocardial infarction in patients presenting with ST-segment elevation</a></li></h5>
              <h5><li><a href="{% static 'data_entry/References/Guidelines/ESC/2014_ESC_AF+ACS.pdf'%}" target="_blank">2014 Management of antithrombotic therapy in atrial fibrillation patients presenting with acute coronary syndrome and/or undergoing percutaneous coronary or valve interventions: a joint consensus…</a></li></h5>
              <h5><li><a href="{% static 'data_entry/References/Guidelines/ESC/2014_ESC_Myocardial_Revascularization.pdf'%}" target="_blank">2014 ESC/EACTS Guidelines on myocardial revascularization</a></li></h5>
              <h5><li><a href="{% static 'data_entry/References/Guidelines/ESC/2015_ESC_NSTEMI.pdf'%}" target="_blank">2015 ESC Guidelines for the management of acute coronary syndromes in patients presenting without persistent ST-segment elevation</a></li></h5>
              <h5><li><a href="{% static 'data_entry/References/Guidelines/ESC/2016_ESC_AF.pdf'%}" target="_blank">2016 ESC Guidelines for the management of atrial fibrillation developed in collaboration with EACTS</a></li></h5>
            </ul>
        </div>
    </div>

{% endblock %}