{% extends 'base.html' %}
{% load static %}

{% block head_css %}
{% endblock %}

{% block page_title %}Recommendations{% endblock %}

{% block menu5 %}active{% endblock %}

{% block content %}
    <h1>Under Construction!</h1>
    <div class="panel panel-default">
        <div class="my-panel-heading bg-blue">
            <div class="row">
                <div class="col-xs-12">
                    American College of Cardiology Foundation / American Heart Association (ACCF/AHA)
                </div>
            </div>
        </div>
        <div class="panel-body">

        </div>
    </div>

    <div class="panel panel-default">
        <div class="my-panel-heading bg-blue">
            <div class="row">
                <div class="col-xs-12">
                    Canadian Cardiovascular Society (CCS)
                </div>
            </div>
        </div>
        <div class="panel-body">

        </div>
    </div>

    <div class="panel panel-default">
        <div class="my-panel-heading bg-blue">
            <div class="row">
                <div class="col-xs-12">
                    European Society of Cardiology (ESC)
                </div>
            </div>
        </div>
        <div class="panel-body">

        </div>
    </div>

{% endblock %}