{% extends 'base.html' %}
{% load static %}

{% block head_css %}
    <link href="{% static 'plugins/bootstrap-datepicker/css/datepicker.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/select2/css/select2.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/switchery/switchery.min.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet">
{% endblock %}

{% block page_title %}References{% endblock %}

{% block menu4 %}active{% endblock %}

{% block content %}
    <h1>Under construction</h1>
{% endblock %}