{% load static %}
{% load i18n %}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>PHRI App | Landing Page</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="{% static 'plugins/jquery-ui/themes/base/minified/jquery-ui.min.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet" />
    
    {# TODO: Minify style.css and change this href to style.min.css #}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    
    <link href="{% static 'css/style-responsive.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/theme/blue.css' %}" rel="stylesheet" id="theme" />
    <!-- ================== END BASE CSS STYLE ================== -->
    
    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="{% static 'plugins/parsley/css/parsley.css' %}" rel="stylesheet" />
    <!-- ================== END PAGE LEVEL STYLE ================== -->

    <!-- ================== BEGIN BASE JS ================== -->
    <script src="{% static 'plugins/pace/pace.min.js' %}"></script>
    <!-- ================== END BASE JS ================== -->
</head>
<body class="pace-top bg-white">
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    <!-- end #page-loader -->
    
    <!-- begin #page-container -->
    <div id="page-container" class="fade">
        <!-- begin register -->
        <div class="register register-with-news-feed">
            <!-- begin news-feed -->
            <div class="news-feed">
                <div class="news-caption-top vertical-align">
                    <div class="row" style="width:100%">
                        <div class="col-md-4 text-center">
                            <img src="{% static 'img/logos/logo_phri.png' %}"/>
                        </div>

                        <div class="col-md-4 text-center">
                            <img src="{% static 'img/logos/logo_hhs.jpg' %}"/>
                        </div>

                        <div class="col-md-4 text-center">
                            <img src="{% static 'img/logos/logo_mmu.jpg' %}"/>
                        </div>
                    </div>
                </div>

                <div class="news-image">
                    <img src="{% static 'img/login-bg/doctor-hands-working-with-small-2.jpg' %}" alt="" />
                </div>
                <div class="news-caption">
                    <h4 class="caption-title"> <i class="fa fa-heartbeat text-success"></i> {% trans 'Triple Therapy Aid' %}</h4>
                    <p class="f-s-20 f-w-400">
                        {% trans 'HIU Antiplatelet/Anticuagulant Physician Decision Aid for Patients with Atrial Fibrillation and CAD undergoing PCI' %}
                    </p>
                </div>
            </div>
            <!-- end news-feed -->
            <!-- begin right-content -->
            <div class="right-content">
                <div class="hidden-sm hidden-md hidden-lg">
                    <div class="bg-blue text-center"> 
                        <h2 class="text-white" style="margin:0px;padding: 10px 0px 10px 0px;"><i class="fa fa-heartbeat text-white"></i> Triple Therapy Aid</h2>
                    </div>

                    <div class="row vertical-align">
                        <div class="col-xs-4 text-center" style="padding:0px;">
                            <img src="{% static 'img/logos/logo_phri.png' %}" style="width: 60%; height: 60%"/>
                        </div>

                        <div class="col-xs-4 text-center" style="padding:0px;">
                            <img src="{% static 'img/logos/logo_hhs.jpg' %}" style="width: 60%; height: 60%"/>
                        </div>

                        <div class="col-xs-4 text-center" style="padding:0px;">
                            <img src="{% static 'img/logos/logo_mmu.jpg' %}" style="width: 60%; height: 60%"/>
                        </div>
                    </div>
                </div>
                <h1 class="register-header">Sign In</h1>
                <!-- begin register-content -->
                <div class="register-content">
                    <form id="signin-form" action="{% url 'users:login' %}" method="POST" class="margin-bottom-0 form-horizontal" data-parsley-validate>
                        {% csrf_token %}

                        <div class="form-group">
                            <label class="col-md-3 control-label">Email</label>
                            <div class="col-md-9">
                                <input type="text" id="email-field" name="email" class="form-control" placeholder="Email address" data-parsley-required="true" data-parsley-type="email"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Password</label>
                            <div class="col-md-9">
                                <input type="password" name="password" class="form-control" placeholder="Password" data-parsley-required="true"/>
                            </div>
                        </div>

                        <div class="register-buttons">
                            <button type="submit" class="btn btn-primary btn-block btn-lg">Sign In</button>
                        </div>
                        
                        <div id="signin-form-errors" class="row text-center parsley-errors-list">
                        </div>

                        <div class="m-t-10">
                            Forgot your password? <a href="{% url 'password_reset_recover' %}">Click here</a>.
                        </div>
                    </form>
                </div>
                <!-- end register-content -->
                <hr>
                <h1 class="register-header">Register</h1>
                <!-- begin register-content -->
                <div class="register-content">
                    <form id="signup-form" action="{% url 'users:register' %}" method="POST" class="margin-bottom-0 form-horizontal" data-parsley-validate>
                        {% csrf_token %}

                        <div class="form-group">
                            <label class="col-md-3 control-label">Email *</label>
                            <div class="col-md-9">
                                <input type="text" id="email-field" name="email" class="form-control" placeholder="Email address" data-parsley-required="true" data-parsley-type="email" data-parsley-remote="{% url 'users:exists' %}" data-parsley-remote data-parsley-remote-reverse="true" data-parsley-remote-message="That email is already taken"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Password *</label>
                            <div class="col-md-9">
                                <input type="password" name="password1" class="form-control" placeholder="Password" data-parsley-required="true"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Re-enter *</label>
                            <div class="col-md-9">
                                <input type="password" name="password2" class="form-control" placeholder="Re-enter password" data-parsley-required="true" />
                            </div>
                        </div>

                        <div class="checkbox m-b-15">
                            <label>
                                <input type="checkbox" required/> By clicking Sign Up, you agree to our <a href="#">Terms</a> and that you have read our <a href="#">Data Policy</a>, including our <a href="#">Cookie Use</a>.
                            </label>
                        </div>

                        <div class="register-buttons">
                            <button type="submit" class="btn btn-primary btn-block btn-lg">Sign Up</button>
                        </div>

                        <div id="signup-form-errors" class="row text-center parsley-errors-list">
                        </div>
                    </form>                    
                </div>
                <!-- end register-content -->
            </div>
            <!-- end right-content -->
        </div>
        <!-- end register -->
    </div>
    <!-- end page container -->
    
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="{% static 'plugins/jquery/jquery-1.9.1.min.js' %}"></script>
    <script src="{% static 'plugins/jquery/jquery-migrate-1.1.0.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-ui/ui/minified/jquery-ui.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--[if lt IE 9]>
        <script src="{% static 'crossbrowserjs/html5shiv.js' %}"></script>
        <script src="{% static 'crossbrowserjs/respond.min.js' %}"></script>
        <script src="{% static 'crossbrowserjs/excanvas.min.js' %}"></script>
    <![endif]-->
    <script src="{% static 'plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-cookie/jquery.cookie.js' %}"></script>
    <!-- ================== END BASE JS ================== -->
    
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="{% static 'plugins/parsley/js/parsley.min.js' %}"></script>
    <script src="{% static 'plugins/parsley/js/parsley.remote.min.js' %}"></script>
    <script src="{% static 'js/apps.min.js' %}"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->

    <script>
        $(document).ready(function() {
            App.init();

            // window.Parsley.addAsyncValidator('UserExists', function (xhr) {
            //     return 404 === xhr.status;
            // }, "{% url 'users:exists' %}");

            $('#signup-form').submit(function(event){
                event.preventDefault();
                var form = $(this)[0];

                var fd = new FormData(form);

                Pace.track(function(){
                    $('#signup-form-errors').removeClass('filled').html('');
                    var request = $.ajax({
                      url: form.getAttribute('action'),
                      type: 'POST',
                      data: fd,
                      processData: false,  // tell jQuery not to process the data
                      contentType: false   // tell jQuery not to set contentType
                    });

                    request.done(function(data, textStatus, jqXHR) {
                      window.location.replace("{% url 'users:verification_sent' %}");
                    });
                     
                    request.fail(function(jqXHR, textStatus, errorThrown) {
                        var errorMessage = jqXHR.responseJSON.error; 
                        $('#signup-form-errors').addClass('filled').html(errorMessage)
                    });
                });
            });


            $('#signin-form').submit(function(event){
                event.preventDefault();
                var form = $(this)[0];

                var fd = new FormData(form);

                Pace.track(function(){
                    $('#signin-form-errors').removeClass('filled').html('');
                    var request = $.ajax({
                        url: form.getAttribute('action'),
                        type: 'POST',
                        data: fd,
                        processData: false,  // tell jQuery not to process the data
                        contentType: false   // tell jQuery not to set contentType
                    });

                    request.done(function(data, textStatus, jqXHR) {
                        window.location.replace("{% url 'data_entry:form' %}");
                    });
                     
                    request.fail(function(jqXHR, textStatus, errorThrown) {
                        var errorMessage = JSON.parse(jqXHR.responseText).error; 
                        $('#signin-form-errors').addClass('filled').html(errorMessage)
                    });
                });
            });
        });
    </script>
</body>
</html>

