{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block head_css %}
        <link href="{% static 'plugins/select2/css/select2.css' %}" rel="stylesheet" />
        <link href="{% static 'plugins/flag-icon/css/flag-icon.min.css' %}" rel="stylesheet" />
        <link href="{% static 'plugins/password-indicator/css/password-indicator.css' %}" rel="stylesheet" />
{% endblock %}

{% block page_title %}User Profile{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="my-panel-heading bg-blue">
                    <div class="row">
                        <div class="col-xs-12">
                            My Profile
                        </div>
                    </div>
                </div>

                <form id="profile-form" class="form-horizontal f-s-14" name="profile-form" method="POST">
                    {% csrf_token %}
                    <div class="panel-body">
                        <fieldset>
                            <legend>Account Info</legend>
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Email Address</label>
                                        <div class="col-md-6">
                                            <input type="email" class="form-control f-s-14" id="email" value="{{ user.email }}" disabled/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="user_name" class="col-md-4 control-label">Username<br/><span></span></label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control f-s-14" id="user_name" name="user_name" value="{{ user.user_name }}" />
                                        </div>
                                    </div>                                    

                                    <div class="form-group">
                                        <label class="col-md-4 control-label">First Name</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control f-s-14" id="first_name" name="first_name" value="{{ user.first_name }}"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Last Name</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control f-s-14" id="last_name" name="last_name" value="{{ user.last_name }}"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-6 col-md-offset-4">
                                            <button id="password_change" type="button" class="btn btn-sm btn-block btn-warning">Change Password</button>
                                        </div>
                                    </div>

                                    <div id="password_form" style="display:none;">
                                        <div class="form-group">
                                            <label for="old_password" class="col-md-4 control-label">Old Password<br/><span></span></label>
                                            <div class="col-md-6">
                                                <input type="password" class="form-control f-s-14" id="old_password" name="old_password"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="new_password1" class="col-md-4 control-label">New Password<br/><span></span></label>
                                            <div class="col-md-6">
                                                <input type="password" class="form-control f-s-14" id="new_password1" name="new_password1"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-6 col-md-offset-4">
                                                <div id="password-strength" class="is0 m-t-5"></div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="new_password2" class="col-md-4 control-label">New Password(again)<br/><span></span></label>
                                            <div class="col-md-6">
                                                <input type="password" class="form-control f-s-14" id="new_password2" name="new_password2"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-6 col-md-offset-4">
                                                <button id="password_cancel" type="button" class="btn btn-sm btn-block btn-warning">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Education Level</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control f-s-14" id="education_level" name="education_level" value="{{ user.education_level }}" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Institution</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control f-s-14" id="institution" name="institution" value="{{ user.institution }}" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Practice Type</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control f-s-14" id="practice_type" name="practice_type" value="{{ user.practice_type }}"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Specialty</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control f-s-14" id="specialty" name="specialty" value="{{ user.specialty }}"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Country</label>
                                        <div class="col-md-6">
                                            <select id="country" name="country" class="default-select2" style="width:100%">
                                                {% for code, name in countries %}
                                                    {% if code == user.country %}
                                                    <option value="{{ code }}" selected="selected"><i class="flag-icon flag-icon-hn" /> {{ name }}</option>
                                                    {% else %}
                                                    <option value="{{ code }}"><i class="flag-icon flag-icon-hn" /> {{ name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row m-t-20">
                                <div class="col-md-4 col-md-offset-4">
                                    <button type="submit" class="btn btn-block btn-primary m-r-5">Save</button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="my-panel-heading bg-blue">
                    <div class="row">
                        <div class="col-xs-12">
                            Stats
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <table class="table table-bordered table-hover table-condensed f-s-14">
                        <tbody>
                            <tr>
                                <th>Researcher</th>
                                <td>{{ user.researcher|yesno|capfirst }}</td>
                            </tr>

                            <tr>
                                <th>Patients</th>
                                <td><a href="{% url 'data_entry:patients:index' %}">{{ user.patients.count }}</a></td>
                            </tr>

                            <tr>
                                <th>Date Joined</th>
                                <td>{{ user.date_joined|date:"r" }}<br/>({{ user.date_joined|naturaltime }})</td>
                            </tr>

                            <tr>
                                <th>Last Login</th>
                                <td>{{ user.last_login|date:"r" }}<br/>({{ user.last_login|naturaltime }})</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block tail_js %}
    <script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'plugins/password-indicator/js/password-indicator.js' %}"></script>
    <script src="{% static 'plugins/jquery-validation/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-validation/js/additional-methods.min.js' %}"></script>
    <script src="{% static 'users/js/profile-form-validation.js' %}"></script>
    <script>
        function formatOption (state) {
            if (!state.id) { return state.text; }
            var $state = $('<span><i class="flag-icon flag-icon-' + state.element.value.toLowerCase() + '"/> ' + state.text + '</span>');
            return $state;
        }

        function formatSelection(data, container) {
            return $('<span><i class="flag-icon flag-icon-' + data.id.toLowerCase() + '"/> ' + data.text + '</span>');
        }

        $(".default-select2").select2({
            minimumResultsForSearch: 1,
            theme: "default",
            placeholder: '---------',
            templateResult: formatOption,
            templateSelection: formatSelection
        });

        $('#new_password1').passwordStrength({targetDiv: '#password-strength'});

        $('#password_change').on('click', function(e){
            var button = $(e.target);
            button.parent().parent().hide();
            $('#password_form').show();
        });

        $('#password_cancel').on('click', function(e){
            $('#password_form').hide();
            $('#password_change').parent().parent().show();
            $('#old_password').val('').trigger('keyup');
            $('#new_password1').val('').trigger('keyup');
            $('#new_password2').val('').trigger('keyup');
        });

        function submit(){            
            var form = $('#profile-form')[0];
            
            var fd = new FormData(form);

            if ($('#password_form').is(':visible')){
                fd.set('change_password', 'on');
            }

            Pace.track(function(){
                var request = $.ajax({
                    url: form.getAttribute('action'),
                    type: 'POST',
                    data: fd,
                    processData: false,  // tell jQuery not to process the data
                    contentType: false   // tell jQuery not to set contentType
                });

                request.done(function(data, textStatus, jqXHR) {
                    console.log('Success');
                    console.log(jqXHR);
                    if (jqXHR.status == 200){
                        window.location.reload()
                    }
                });
               
                request.fail(function(jqXHR, textStatus, errorThrown) {
                    console.log('Fail');
                    console.log(jqXHR);
                    if (jqXHR.status == 303){
                        window.location.reload();
                    }else if (jqXHR.status == 400){
                        var data = JSON.parse(jqXHR.responseText);

                        if (data['__all__']){
                            validator.showErrors({'old_password': data['__all__']})
                        }
                    }
                });
            });
        }
    </script>
{% endblock %}