<div id="top-menu" class="top-menu">
    <!-- begin top-menu nav -->
    <ul class="nav">
        <li class="{% block menu1 %}{% endblock %}">
            <a href="{% url 'data_entry:dashboard' %}">
                <i class="fa fa-pencil-square-o"></i>
                <span>Patient Form</span>
            </a>
        </li>
        <li class="{% block menu2 %}active{% endblock %}">
            <a href="#">
                <i class="fa fa-database"></i> 
                <span>Data</span>
            </a>
        </li>
    </ul>
    <!-- end top-menu nav -->
</div>