<div id="top-menu" class="top-menu">
    <!-- begin top-menu nav -->
    <ul class="nav">
        <li class="has-sub">
            <a href="javascript:;">
                <b class="caret pull-right"></b>
                <i class="fa fa-laptop"></i>
                <span>Dashboard</span>
            </a>
            <ul class="sub-menu">
                <li><a href="index.html">Dashboard v1</a></li>
                <li><a href="index_v2.html">Dashboard v2</a></li>
            </ul>
        </li>
        <li class="has-sub">
            <a href="javascript:;">
                <span class="badge pull-right">10</span>
                <i class="fa fa-inbox"></i> 
                <span>Email</span>
            </a>
            <ul class="sub-menu">
                <li><a href="email_inbox.html">Inbox v1</a></li>
                <li><a href="email_inbox_v2.html">Inbox v2</a></li>
                <li><a href="email_compose.html">Compose</a></li>
                <li><a href="email_detail.html">Detail</a></li>
            </ul>
        </li>
        <li class="has-sub">
            <a href="javascript:;">
                <b class="caret pull-right"></b>
                <i class="fa fa-suitcase"></i>
                <span>UI Elements</span> 
            </a>
            <ul class="sub-menu">
                <li><a href="ui_general.html">General</a></li>
                <li><a href="ui_typography.html">Typography</a></li>
                <li><a href="ui_tabs_accordions.html">Tabs & Accordions</a></li>
                <li><a href="ui_unlimited_tabs.html">Unlimited Nav Tabs</a></li>
                <li><a href="ui_modal_notification.html">Modal & Notification</a></li>
                <li><a href="ui_widget_boxes.html">Widget Boxes</a></li>
                <li><a href="ui_media_object.html">Media Object</a></li>
                <li><a href="ui_buttons.html">Buttons</a></li>
                <li><a href="ui_icons.html">Icons</a></li>
                <li><a href="ui_simple_line_icons.html">Simple Line Icons</a></li>
                <li><a href="ui_ionicons.html">Ionicons</a></li>
                <li><a href="ui_tree.html">Tree View</a></li>
                <li><a href="ui_language_bar_icon.html">Language Bar & Icon</a></li>
            </ul>
        </li>
        
        <li class="menu-control menu-control-left">
            <a href="#" data-click="prev-menu"><i class="fa fa-angle-left"></i></a>
        </li>
        <li class="menu-control menu-control-right">
            <a href="#" data-click="next-menu"><i class="fa fa-angle-right"></i></a>
        </li>
    </ul>
    <!-- end top-menu nav -->
</div>