{% extends 'base_theme.html' %}

{% block page_title %}Not Found{% endblock %}

{% block body_class %}pace-top{% endblock %}

{% block body %}
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    <!-- end #page-loader -->
    
    <!-- begin #page-container -->
    <div id="page-container" class="fade">
        {% block content %}
        <!-- begin error -->
        <div class="error">
            <div class="error-code m-b-10">403 <i class="fa fa-warning"></i></div>
            <div class="error-content">
                <div class="error-message">You're not allowed to see this...</div>
                <div class="error-desc m-b-20">
                    The page you're looking for is off limits! <br />
                    Go back and try something else.
                </div>
                <div>
                    <a href="index.html" class="btn btn-success">Go Back to Home Page</a>
                </div>
            </div>
        </div>
        <!-- end error -->
        {% endblock %}
    </div>
{% endblock %}
