{% extends 'base.html' %}
{% load static %}

{% block head_css %}
{% endblock %}

{% block page_title %}About{% endblock %}

{% block menu6 %}active{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="my-panel-heading bg-blue">
                    <div class="row">
                        <div class="col-xs-12">
                            About
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>What is this?</h3>
                            <p class="lead text-justify">
                                The <b>ORACLE</b> <em>(On-Line Physician Decision Support Tool for the Management of Oral Anticoagulation in Patients with Atrial Fibrillation Undergoing Percutaneous Coronary Intervention)</em> Project is an alliance of several academic physicians motivated by the gap in knowledge and unmet needs in the management of patients with Atrial Fibrillation that undergo PCI. The team is composed by General Cardiologists, Interventional Cardiologists, Arrhythmia and Hematology Specialists, and knowledge translation experts. The purpose of this group is to provide and facilitate the use of a decision tool for the management of oral anticoagulation in patients with atrial fibrillation undergoing PCI with the ultimate goals of improving the appropriate use of guidelines and improving outcomes and net clinical benefit.
                            </p>
                            <p class="lead text-justify">
                                Concerned with the lack of evidence and conflicting recommendations regarding the role of dual antiplatelet and triple therapy management in patients with atrial fibrillation undergoing PCI the ORACLE investigators have conducted preliminary surveys that indicate that the majority (80%) of physicians surveyed use the CCS guidelines, however only 33% correctly selected the appropriate recommendations demonstrating a significant gap in knowledge. To overcome the multiple possible combinations of DAPT and triple therapy in this population, a web-based decision tool has been developed with the goal of facilitating physician’s decision making, refining guideline adherence and eventually improving safety and efficacy outcomes in this challenging population.
                            </p>
                            {% comment %}
                            <!--p class="lead text-justify">
                                The <b>Triple Therapy Aid</b> tool helps physicians make informed decisions. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porta libero vel purus accumsan, in efficitur libero efficitur. Ut lobortis quam quis bibendum fermentum. Donec sodales mauris dui, non porta magna vestibulum sed. Morbi pretium augue quis cursus aliquam. Aliquam sodales tortor luctus massa vestibulum rhoncus.
                            </p>

                            <h3>Who is it for?</h3>
                            <p class="lead text-justify">
                                Quisque non risus gravida, porta mi sed, malesuada diam. Phasellus mauris metus, semper iaculis pharetra et, feugiat non augue. Sed augue orci, semper et eros at, sollicitudin tincidunt quam. Quisque viverra, mi at sollicitudin eleifend, magna mauris gravida ex, a lobortis arcu libero et nisl.
                            </p>

                            <h3>Research group</h3>
                            <p class="lead text-justify">
                                Ut a dapibus mauris. Nulla ac dolor eu ligula dignissim consectetur. Donec faucibus dignissim efficitur. Quisque non porttitor nisi. Aliquam eget arcu vitae dolor mattis congue mattis non velit.
                            </p>

                            <h3>Sponsors</h3>
                            <ul class="lead text-justify">
                                <li><b>Sed eget tempus nisi.</b> Nunc bibendum quam vel tellus dictum, ut iaculis tellus facilisis. Duis auctor quam nec tempor sagittis. Etiam mollis eu dolor a lobortis. </li>
                                <li><b>Etiam ultricies nulla sed augue rhoncus auctor.</b> Nullam commodo urna at mauris facilisis, ut placerat nunc aliquet. Nam scelerisque elementum eros vitae mattis. </li>
                                <li><b>Mauris et ante tellus.</b> Curabitur vel elementum dolor. Praesent lectus ex, tincidunt nec pulvinar ac, iaculis ut urna.</li>
                            </ul-->
                            {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-2">
            <img alt="Madhu Natarajan" class="img-thumbnail img-responsive" src="{% static 'img/team/01-mn-team.png' %}"/>
            <ul class="list-group">
                <li class="list-group-item">
                    <h4>Madhu Natarajan</h4>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2">
            <img alt="Sumeet Gandhi" class="img-thumbnail img-responsive" src="{% static 'img/team/02-sg-team.png' %}"/>
            <ul class="list-group">
                <li class="list-group-item">
                    <h4>Sumeet Gandhi</h4>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2">
            <img alt="Natalia Pinilla-Echeverri" class="img-thumbnail img-responsive" src="{% static 'img/team/03-npe-team.png' %}"/>
            <ul class="list-group">
                <li class="list-group-item">
                    <h4>Natalia Pinilla-Echeverri</h4>
                </li>
            </ul>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-2">
            <img alt="Carlos Morillo" class="img-thumbnail img-responsive" src="{% static 'img/team/04-cm-team.png' %}"/>
            <ul class="list-group">
                <li class="list-group-item">
                    <h4>Carlos Morillo</h4>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2">
            <img alt="MSam Schulman" class="img-thumbnail img-responsive" src="{% static 'img/team/05-ss-team.png' %}"/>
            <ul class="list-group">
                <li class="list-group-item">
                    <h4>Sam Schulman</h4>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2">
            <img alt="JD Schwalm" class="img-thumbnail img-responsive" src="{% static 'img/team/06-jds-team.png' %}"/>
            <ul class="list-group">
                <li class="list-group-item">
                    <h4>JD Schwalm</h4>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
