{% load static %}
<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>Shiping | Unify - Responsive Website Template</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    <!-- Web Fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=cyrillic,latin">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/blocks.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/one.style.css' %}">

    <!-- CSS Footer -->
    <link rel="stylesheet" href="{% static 'shipping/assets/css/header-v9.css' %}">
    <link rel="stylesheet" href="{% static 'shipping/assets/css/footer-v7.css' %}">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{% static 'assets/plugins/animate.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/line-icons/line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/line-icons-pro/styles.css' %}">
    <link rel="stylesheet" href="{% static 'shipping/assets/css/plugins/pace-flash.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/owl-carousel2/assets/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/hover-effects/css/custom-hover-effects.css' %}">

    <!-- CSS Theme -->
    <link rel="stylesheet" href="{% static 'shipping/assets/css/shiping.style.css' %}">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="{% static 'shipping/assets/css/custom.css' %}">
</head>

<!--
    The data-spy and data-target are part of the built-in Bootstrap scrollspy function.
-->
<body id="body" data-spy="scroll" data-target=".header-v9" class="demo-lightbox-gallery">
    <!-- Header -->
    <nav class="header-v9 navbar navbar-default navbar-fixed-top" data-role="navigation">
        <div class="container-fluid no-side-padding bg-1">
            <!-- Topbar -->
            <div class="topbar">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 col-xs-4 no-side-padding">
                            <a href="#intro" class="logo"><img src="{% static 'shipping/assets/img/logo-dark.png' %}" alt="Logo"></a>
                        </div>

                        <div class="col-sm-9 col-xs-8">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 topbar-block first">
                                    <div class="topbar-block-in">
                                        <ul class="list-unstyled">
                                            <li class="first-item"><span aria-hidden="true" class="icon-screen-smartphone icon"></span> Call Us</li>
                                            <li class="second-item">+469 548 521</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-3 hidden-md hidden-sm hidden-xs topbar-block">
                                    <div class="topbar-block-in">
                                        <ul class="list-unstyled">
                                            <li class="first-item"><span aria-hidden="true" class="icon-clock icon"></span> Opening time</li>
                                            <li class="second-item">Mon-Sat: 08.00 - 18.00</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 topbar-block">
                                    <div class="topbar-block-in">
                                        <ul class="list-unstyled">
                                            <li class="first-item"><span aria-hidden="true" class="icon-envelope icon"></span> Email us</li>
                                            <li class="second-item">market@info.com</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Topbar -->
        </div>

        <div class="container-fluid bg-2 one-page-nav-scrolling one-page-nav__fixed">
            <div class="container">
                <div class="menu-container page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <div class="menu-container">
                        <ul class="nav navbar-nav">
                            <li class="page-scroll home">
                                <a href="#intro">Home</a>
                            </li>
                            <li class="page-scroll">
                                <a href="#about">Data Entry</a>
                            </li>
                            <li class="page-scroll">
                                <a href="#services">Reports</a>
                            </li>
                            <li class="page-scroll">
                                <a href="#skills">Profile</a>
                            </li>
                        </ul>
                        <a href="#" class="btn-u btn-u-lg btn-u-default btn-u-upper rounded">Get a Quote</a>
                    </div>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </div>
    </nav>
    <!-- End Header -->

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="fullscreen-static-image fullheight">
                <!-- Promo Content BEGIN -->
                <div class="container valign__middle">
                    <div class="row">
                        <div class="col-md-5 col-sm-6 text-center">
                            <form id="sign-in-form" class="shipping-form">
                                <h3>Sign in</h3>

                                <div class="form-group g-mb-20">
                                    <input type="text" name="email" class="form-control rounded g-mb-20" placeholder="Email Address">
                                    <input type="password" name="passowrd" class="form-control rounded g-mb-20" placeholder="Password">
                                </div>

                                <button type="submit" class="btn-u btn-u-lg btn-u-default btn-u-upper rounded">Sign In</button>
                                <button type="button" class="btn btn-link btn-sm form-toggle">Click here to sign up</button>
                            </form>

                            <form id="sign-up-form" class="shipping-form" style="display:none;">
                                <h3>Sign up</h3>
                                <div class="form-group g-mb-20">
                                    <input type="text" name="email" class="form-control rounded g-mb-20" placeholder="Email Address">
                                    <input type="password" name="password1" class="form-control rounded g-mb-20" placeholder="Password">
                                    <input type="password" name="password2" class="form-control rounded g-mb-20" placeholder="Re-Type Password">
                                </div>

                                <button type="submit" class="btn-u btn-u-lg btn-u-default btn-u-upper rounded">Sign Up</button>
                                <button type="button" class="btn btn-link btn-sm form-toggle">Click here to sign up</button>
                            </form>
                        </div>
                        <div class="col-md-7 col-sm-6 intro-section-info">
                            <h2>Packaging <br> &amp; Shiping</h2>
                            <h3>Delivering anything to anywhere</h3>
                            <p>Maecenas lacus magna, pretium in congue a, pharetra at lacus. Nulla neque justo, sodales<br> vitae dui non, imperdiet luctus libero.</p>
                            <a href="#" class="btn-u btn-u-lg btn-u-default btn-u-upper rounded">Learn More</a>
                        </div>
                    </div>
                </div>
                <!-- Promo Content END -->
            </div>
    </section>
    <!-- End Intro Section -->

    <!-- JS Global Compulsory -->
    <script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- JS Implementing Plugins -->
    <script src="{% static 'assets/plugins/smoothScroll.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery.easing.min.js' %}"></script>
    <script src="{% static 'assets/plugins/pace/pace.min.js' %}"></script>
    <script src="{% static 'assets/plugins/counter/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/plugins/counter/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/plugins/owl-carousel2/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js' %}"></script>
    <script src="{% static 'assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js' %}"></script>
    <script src="{% static 'assets/plugins/circles-master/circles.min.js' %}"></script>
    
    <!--script src="https://maps.googleapis.com/maps/api/js?signed_in=true&amp;callback=initMap" async defer></script><script src="{% static 'shipping/assets/js/plugins/gmaps-ini.js' %}"></script-->

    <script src="{% static 'assets/plugins/backstretch/jquery.backstretch.min.js' %}"></script>

    <!-- JS Page Level-->
    <script src="{% static 'assets/js/one.app.js' %}"></script>
    <script src="{% static 'shipping/assets/js/plugins/pace-loader.js' %}"></script>
    <script src="{% static 'shipping/assets/js/plugins/owl-carousel2.js' %}"></script>
    <script src="{% static 'shipping/assets/js/plugins/promo.js' %}"></script>
    <script src="{% static 'shipping/assets/js/plugins/circles-master.js' %}"></script>
    <script src="{% static 'shipping/assets/js/plugins/cube-portfolio-3-ns.js' %}"></script>
    <script src="{% static 'shipping/assets/js/forms/contact.js' %}"></script>
    <script src="{% static 'users/js/formToggle.js' %}"></script>
    <script>
        $(function() {
            App.init();
            App.initCounter();
            OwlCarousel.initOwlCarousel();
            CirclesMaster.initCirclesMaster();
            ContactForm.initContactForm();
        });
    </script>
    <!--[if lt IE 10]>
        <script src="{% static 'assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js' %}"></script>
    <![endif]-->
</body>
</html>
