{% extends 'base_theme.html' %}
{% load static %}

{% block body %}
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    <!-- end #page-loader -->

    <!-- begin #page-container -->
    <div id="page-container" class="page-container fade page-without-sidebar page-header-fixed page-with-top-menu">
        
        <!-- begin #top-menu -->
        <div id="top-menu" class="top-menu f-s-16">
            <!-- begin top-menu nav -->
            <ul class="nav">
                <li class="{% block menu1 %}{% endblock %}">
                    <a href="{% url 'data_entry:form' %}">
                        <i class="fa fa-pencil-square-o"></i>
                        <span>Patient Form</span>
                    </a>
                </li>
                <li class="{% block menu2 %}{% endblock %}">
                    <a href="{% url 'data_entry:patients:index' %}">
                        <i class="fa fa-users"></i> 
                        <span>My Patients</span>
                    </a>
                </li>
                <li class="{% block menu3 %}{% endblock %}">
                    <a href="{% url 'data_entry:reports' %}">
                        <i class="fa fa-database"></i> 
                        <span>Database</span>
                    </a>
                </li>
                <li class="has-sub pull-right">
                    <a href="javascript:;">
                        <b class="caret pull-right"></b>
                        <i class="fa fa-user"></i>
                        <span>{{ user.user_name|default:"Anonymous" }}</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="#">Edit Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Log Out</a></li>
                    </ul>
                </li>
                <li class="{% block menu4 %}{% endblock %}">
                    <a href="{% url 'data_entry:reports' %}">
                        <i class="fa fa-book"></i> 
                        <span>References</span>
                    </a>
                </li>
            </ul>
            <!-- end top-menu nav -->
        </div>
        <!-- end #top-menu -->
        
        <!-- begin #logos -->
        <div id="logos" class="row bg-white vertical-align">
            <div class="col-xs-12 col-sm-4 text-center">
                <img src="{% static 'img/logos/logo_phri.png' %}"/>
            </div>

            <div class="col-xs-12 col-sm-4 text-center">
                <img src="{% static 'img/logos/logo_hhs.jpg' %}"/>
            </div>

            <div class="col-xs-12 col-sm-4 text-center">
                <img src="{% static 'img/logos/logo_mmu.jpg' %}"/>
            </div>
        </div>

        <!-- begin #content -->
        <div id="content" class="content">
            {% block content %}
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                            </div>
                            <h4 class="panel-title">Panel Title here</h4>
                        </div>
                        <div class="panel-body">
                            Panel Content Here
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
        <!-- end #content -->
        
        <!-- begin scroll to top btn -->
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
        <!-- end scroll to top btn -->
    </div>
    <!-- end page container -->
{% endblock %}
