{% extends 'base_theme.html' %}
{% load static %}
{% load i18n %}

{% block body %}
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    <!-- end #page-loader -->

    <!-- begin #page-container -->
    <div id="page-container" class="fade page-without-sidebar page-header-fixed in">

        <div id="header" class="header navbar navbar-default navbar-fixed-top">
            <!-- begin container-fluid -->
            <div class="container-fluid f-s-14" style="padding-left:0px">
                <!-- begin mobile sidebar expand / collapse button -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- end mobile sidebar expand / collapse button -->
                
                <!-- begin navbar-collapse -->
                <div class="collapse navbar-collapse pull-left" id="top-navbar">
                    <ul class="nav navbar-nav">
                        <li class="{% block menu1 %}{% endblock %}">
                            <a href="{% url 'data_entry:form' %}">
                                <i class="fa fa-pencil-square-o"></i>
                                <span>{% trans 'Patient Form' %}</span>
                            </a>
                        </li>
                        <li class="{% block menu2 %}{% endblock %}">
                            <a href="{% url 'data_entry:patients:index' %}">
                                <i class="fa fa-users"></i> 
                                <span>{% trans 'My Patients' %}</span>
                            </a>
                        </li>
                        <li class="{% block menu3 %}{% endblock %}">
                            <a href="{% url 'database:index' %}">
                                <i class="fa fa-database"></i> 
                                <span>{% trans 'Database' %}</span>
                            </a>
                        </li>
                        <li class="{% block menu4 %}{% endblock %}">
                            <a href="{% url 'data_entry:guidelines' %}">
                                <i class="fa fa-book"></i> 
                                <span>{% trans 'Guidelines' %}</span>
                            </a>
                        </li>
                        <li class="{% block menu5 %}{% endblock %}">
                            <a href="{% url 'data_entry:recommendations' %}">
                                <i class="fa fa-book"></i>
                                <span>{% trans 'Recommendations' %}</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right f-s-16">
                        <li class="dropdown navbar-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-user"></i>
                                <span class="">{{ user.user_name|default:"Anonymouse" }}</span> <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu animated fadeInLeft f-s-14">
                                <li><a href="{% url 'users:me' %}">{% trans 'Edit Profile' %}</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'users:logout' %}">{% trans 'Log Out' %}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- end navbar-collapse -->
                <!-- Aqui iba el menu de usuario -->
                <!-- begin header navigation right -->

                <!-- end header navigation right -->
            </div>
            <!-- end container-fluid -->
        </div>

        
        <!-- begin #logos -->
        <div id="logos" class="logos row bg-white vertical-align">
            <div class="col-xs-12 col-sm-4 text-center">
                <img src="{% static 'img/logos/logo_phri.png' %}"/>
            </div>

            <div class="col-xs-12 col-sm-4 text-center">
                <img src="{% static 'img/logos/logo_hhs.jpg' %}"/>
            </div>

            <div class="col-xs-12 col-sm-4 text-center">
                <img src="{% static 'img/logos/logo_mmu.jpg' %}"/>
            </div>
        </div>

        <!-- begin #content -->
        <div id="content" class="content">
            {% block content %}
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                            </div>
                            <h4 class="panel-title">Panel Title here</h4>
                        </div>
                        <div class="panel-body">
                            Panel Content Here
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
        <!-- end #content -->
        
        <!-- begin scroll to top btn -->
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
        <!-- end scroll to top btn -->
    </div>
    <!-- end page container -->
{% endblock %}
