<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>

    <body>
        <h1>Terms and Conditions</h1>

        <p>
        The use of the software hosted at WWW.TRIPLETHERAPY.NET (the ‘Application’) is subject to the following Terms and Conditions ("Terms", "Terms and Conditions"):
        <p>

        <p>
        Please read these Terms and Conditions carefully before using the application located at www.tripletherapy.net operated by (ENTITY) (“the owner”, "us", "we", or "our").
        </p>

        <p>
        Your access to and use of the Application is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Application.
        </p>

        <p>
        By accessing or using the Application you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Application.
        </p>

        <p>
        In the event that changes are made to the Tool, including these Terms, you are legally bound by the updated or amended Terms from the first time that you access and use the Tool after the changes are made.
        </p>

        <h2>The Application</h2>

        The copyright and other intellectual property rights of the Application are, and shall remain, the property of the owner.

        ==============OPTIONAL INFORMATION===========
        The application was developed by (ENTITY) as part of a joint working group initiative comprising the Population Health Research Institute (PHRI), Hamilton Health Sciences and McMaster University.  All three parties committed resources to the joint working project. This application is the result of a research program (RESEARCH NAME, REFERENCES, ETC.), sponsored under the grant…
        ================================================

        Use of the Application

        You accept that this Application is only intended for use by qualified healthcare professionals.

        You acknowledge and agree that the Application is intended to support clinical decision-making and prescribing and not replace the healthcare professional’s clinical judgement. The healthcare professional user of the Application must use his/her own professional and clinical judgment, and expertise, when considering and/or acting upon the prompts, alerts, notes and recommendations arising from using the Application and that he/she is responsible all the recommendations and prescriptions made to the patient. The owner of the application or any related institution are not liable for any adverse reactions experienced by a patient or any other person as a result of a recommendation made by the Application.

        You agree to use the Application only for lawful purposes, and in a manner that does not infringe the rights of, or restrict or inhibit the use of the Tool by any third party. Such restriction or inhibition includes, without limitation, conduct which is unlawful, or which may cause harm, harass or cause distress or inconvenience to any person.

        Unless you have been specifically permitted to do so by the owner, you agree that you may not:

        reproduce, duplicate, sell, trade or resell the Application for any purpose;
        Copy, adapt, modify, create a derivative work of, reverse engineer, decompile or otherwise attempt to extract the source code of the Application or any part thereof;
        Engage in any activity that interferes with or disrupts the Application (or the servers and networks which are connected to the Application).

        Please notice that although this application has been developed with high standards and best practices in both medical research and software development, we do not warrant or guarantee:

        That we will be able to rectify all defects, nor that any defect which does not materially affect your operations using the Application will be corrected;
        That the Tool will operate in conjunction with any hardware items or software products other than with those identified;
        That the Tool will operate uninterrupted or error free.

        Data Storage

        All personally identifiable patient and user data will be treated as sensitive and will be handled with special care. Only a limited number of researchers will have access to such data. All users have the option of storing patient details or not. If users select the ‘Save Patient’s Data’ option to store patient data, the data will be saved to the owner’s data servers and will be used mainly for research purposes. The owner of the application reserves the right to use the data captured by the use of the Application’s for research or other purposes.

        Accounts

        When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in termination of your account on our Application.

        You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password.

        You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.

        Links to Other Web Sites

        Our Application may contain links to third-party web sites or services that are not owned or controlled by us. Our organization has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that we shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services. We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.

        Liability

        We do not accept any liability to you for any of the following types of loss or damage (which you may suffer as a result of your use of the Application) whether the losses were foreseen, foreseeable, unforeseen, unforeseeable, known, unknown or otherwise:

        Loss which arose when you first accessed or registered to use the Application (even if that loss results from our failure to comply with these terms or our negligence);
        Any business loss you may suffer, including loss of revenue, loss of profits or loss of anticipated savings (whether those losses are the direct or indirect result of our default);
        Loss which you suffer other than as a result of our failure to comply with these Terms or our negligence or breach of statutory duty; any loss suffered due to the default of any party other than us;
        We do not accept any liability to you if we fail, or are interrupted or delayed in the performance of any obligation because of: the non-availability or failure of any telecommunications or computer services, systems, equipment or software operated or provided by you or any third party; any other event not reasonably within our control.

        Termination

        We may terminate or suspend access to our Application immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms. All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.

        We may terminate or suspend your account immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms. Upon termination, your right to use the Application will immediately cease. If you wish to terminate your account, you may simply discontinue using the Service.

        All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.

        Governing Law

        These Terms shall be governed and construed in accordance with the laws of Canada, without regard to its conflict of law provisions.

        Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.

        Changes

        We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.

        By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.

        Contact Us

        If you have any questions about these Terms, please contact us at admin@tripletherapy.net


    </body>
</html>